body {
  background-color: #5B5E6D;
}

h1 {
  text-align: center;
  font-size: 36pt;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  opacity: 0.6;
}

h2 {
  text-align: center;
  font-size: 18pt;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0px;
}

li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

a:link {
  color: white;
  text-decoration: none;
  opacity: 0.6;
}

a:visited {
  color: white;
  text-decoration: none;
  opacity: 0.6;
}

a:hover {
  color: white;
  text-decoration: none;
  opacity: 1;
}

a:active {
  color: white;
  text-decoration: none;
  opacity: 1;
}

.links {
  margin-top: 50px;
}

.centered {
  height: 240px;
  width: 600px;
  position:fixed;
  top: 50%;
  left: 50%;
  margin-top: -120px;
  margin-left: -300px;
}
