html {
  height: 100%;
}

body {
  background-color: #2F3045;
  height: 100%;
  margin: 0;
  font-size: 18pt;
}

h1 {
  text-align: center;
  font-size: 2.2em;
  color: white;
  opacity: 0.9;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h2 {
  text-align: center;
  font-size: 1.1em;
  color: white;
  opacity: 0.6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-top: 80px;
  margin-bottom: 110px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0px;
}

li {
  display: inline;
  padding-left: 12px;
  padding-right: 12px;
}

a:link {
  color: white;
  text-decoration: none;
  opacity: 0.5;
}

a:visited {
  color: white;
  text-decoration: none;
  opacity: 0.5;
}

a:hover {
  color: white;
  text-decoration: none;
  opacity: 1;
}

a:active {
  color: white;
  text-decoration: none;
  opacity: 1;
}

.links {
  margin-top: 55px;
}

.wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.centered {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 768px) {

  body {
    font-size: 16pt;
  }

  li {
    padding-right: 0;
  }
}
